# Dependencias instaladas por npm
/node_modules

# Archivos de logs
logs
*.log

# Archivos de compilación
/dist

# Archivos de entorno
.env

# Cualquier archivo o carpeta generada por el sistema de pruebas
/coverage

# Archivos de caché
.npm
.pnp
.pnp.js

# Otras configuraciones generadas automáticamente
yarn.lock
package-lock.json
